:root {
  --background-color: #ffff;
  --text-color: black;
  --title-color: rgb(129, 122, 122);
  --primary-color-h: 265;
  --primary-color-s: 100%;
  --primary-color-l: 47%;

  --secondary-color-h: 180;
  --secondary-color-s: 99%;
  --secondary-color-l: 27%;

  --contrastThreshold: 60%;

  --lightnessTransform: 15%;
  --mediumnessTransform: 17%;
  --darknessTransform: 19%;

  --primary-color-light-l: calc(
    var(--primary-color-l) + var(--lightnessTransform)
  );
  --primary-color-medium-l: calc(
    var(--primary-color-l) + var(--mediumnessTransform)
  );
  --primary-color-dark-l: calc(
    var(--primary-color-l) + var(--darknessTransform)
  );

  --secondary-color-light-l: calc(
    var(--secondary-color-l) + var(--lightnessTransform)
  );
  --secondary-color-medium-l: calc(
    var(--secondary-color-l) + var(--mediumnessTransform)
  );
  --secondary-color-dark-l: calc(
    var(--secondary-color-l) + var(--darknessTransform)
  );

  --color-primary-dark: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-dark-l)
  );
  --color-secondary-dark: hsl(
    var(--secondary-color-h),
    var(--secondary-color-s),
    var(--secondary-color-dark-l)
  );
  --color-primary-medium: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-medium-l)
  );
  --color-secondary-medium: hsl(
    var(--secondary-color-h),
    var(--secondary-color-s),
    var(--secondary-color-medium-l)
  );
  --color-primary-light: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-light-l)
  );
  --color-secondary-light: hsl(
    var(--secondary-color-h),
    var(--secondary-color-s),
    var(--secondary-color-light-l)
  );

  /*  Calculations Based on Hue  */
  --color-primary-complement: hsl(
    calc(var(--primary-color-h) + 180),
    var(--primary-color-s),
    var(--primary-color-light-l)
  );
  --color-primary-complement-1: hsl(
    calc(var(--primary-color-h) + 120),
    var(--primary-color-s),
    var(--primary-color-light-l)
  );
  --color-primary-complement-2: hsl(
    calc(var(--primary-color-h) - 120),
    var(--primary-color-s),
    var(--primary-color-light-l)
  );
  --color-secondary-complement: hsl(
    calc(var(--secondary-color-h) + 180),
    var(--secondary-color-s),
    var(--secondary-color-light-l)
  );
  --color-secondary-complement-1: hsl(
    calc(var(--secondary-color-h) + 120),
    var(--secondary-color-s),
    var(--secondary-color-light-l)
  );
  --color-secondary-complement-2: hsl(
    calc(var(--secondary-color-h) - 120),
    var(--secondary-color-s),
    var(--secondary-color-light-l)
  );
}
[data-theme="darkMode"] {
  --background-color: #424242;
  --text-color: white;
  --title-color: white;
}

////////////////////////////////////////////////////////////////

.primary-light {
  background-color: var(--color-primary-light);

  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-medium {
  background-color: var(--color-primary-medium);
  --switch: calc(
    (var(--primary-color-light-l) - var(--contrastThreshold)) * -100
  );
  color: hsl(0, 0%, var(--switch));
}

.primary-dark {
  background-color: var(--color-primary-dark);
  --switch: calc(
    (var(--primary-color-dark-l) - var(--contrastThreshold)) * -100
  );
  color: hsl(0, 0%, var(--switch));
}

.primary-complement {
  background-color: var(--color-primary-complement);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-complement-1 {
  background-color: var(--color-primary-complement-1);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-complement-2 {
  background-color: var(--color-primary-complement-2);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-light {
  background-color: var(--color-secondary-light);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-medium {
  background-color: var(--color-secondary-medium);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-dark {
  background-color: var(--color-secondary-dark);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-complement {
  background-color: var(--color-secondary-complement);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-complement-1 {
  background-color: var(--color-secondary-complement-1);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-complement-2 {
  background-color: var(--color-secondary-complement-2);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
////////////////////////////////////////////////////////////////

.color-palette {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  &-title {
    margin-bottom: 1rem;
    font-size: 3em;
    color: var(--title-color);
  }
  .box-containers {
    display: flex;
    flex-direction: column;
    .box-container {
      display: flex;
      .box {
        position: relative;
        height: 100px;
        width: 100px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        border-radius: 10px;
        text-align: center;
        padding: 0 0.25rem;
        animation: bounce-in-top 2s alternate;
      }
    }
  }
  .progress {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    progress {
      width: 510px;
      margin: 0 1rem;
      height: 2rem;
    }
    input {
      padding: 5px 20px;
      border-radius: 20px;
      border: 0.5px solid rgba(129, 122, 122, 0.623);
      cursor: pointer;
      background-color: rgba(129, 122, 122, 0.103);
      color: var(--text-color);
      &:hover {
        background-color: rgba(129, 122, 122, 0.623);
      }
    }
  }
  .color-picker {
    display: flex;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-color: #bbb;
    border-style: dashed;
    color: var(--text-color);
    &-input {
      width: 100px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input[type="color"] {
      appearance: none;
      border: none;
      padding: 0;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      overflow: hidden;
      cursor: pointer;
      background-color: transparent;
      &::-webkit-color-swatch {
        border-radius: 50%;
        border: 2px solid;
      }
    }
  }
}

.tooltip {
  position: absolute;
  top: 70px;
  left: 30px;
  background: #373737;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  letter-spacing: 1px;
  opacity: 0;
  animation: appear 1s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateY(10px);
    opacity: 1;
  }
  80% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.theme {
  display: flex;
  align-items: baseline;
  margin-top: 2rem;
  .color-picker2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 2rem;
    padding: 1rem 2rem;

    color: var(--text-color);
    &-input {
      width: 100px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input[type="color"] {
      appearance: none;
      border: none;
      padding: 0;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      overflow: hidden;
      cursor: pointer;
      background-color: transparent;
      &::-webkit-color-swatch {
        border-radius: 50%;
        border: 5px solid var(--text-color);
      }
    }
  }
  .dark-theme {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 0.5rem;
    background-color: #eee;
    border: 1px solid rgb(180, 180, 180);
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
    border-radius: 0.5rem;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 14px;
    top: 5px;
    width: 10px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.box-container-primary {
  animation: roll-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) alternate;
}

@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.box-container-secondary {
  animation: roll-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) alternate;
}
@keyframes roll-in-blurred-right {
  0% {
    transform: translateX(1000px) rotate(720deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
